.form-login{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.btn{
    width: 52%;
    margin-left: 25%;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #1E90FF;
    color: white;
    font-weight: bold;
    
}
.text-user{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}
.text-pass{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}