.btn{
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.form-action{
    display: none;
    width: 400px;
    height: auto;
    margin: 0 auto;
    margin-top: 180px;
    background-color: #F0F8FF;
    border-radius: 15px;
    /* box-shadow: 0px 0px 100px 0px #000; */
    border: 1px solid #000;
}

.btn{
    width: 52%;
    margin-left: 25%;
    height: 40px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: #000;
    color: white;
    font-weight: bold;
    
}
.text-user{
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-left: 19px;
}
.text-pass{
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-left: 19px;
}
.text-email{
    width: 350px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-left: 19px;
}
.text-p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #000;
}
.text-h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #000;

}
@media screen and (max-width: 600px) {
    .form-action{
        width: 300px;
        height: auto;
        margin: 0 auto;
        margin-top: 180px;
        margin-left: 30px;
        background-color: #F0F8FF;
        border-radius: 15px;
        /* box-shadow: 0px 0px 100px 0px #000; */
        border: 1px solid #000;
    }
    .text-user{
        width: 250px;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 15px;
        margin-left: 19px;
    }
    .text-pass{
        width: 250px;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 15px;
        margin-left: 19px;
    }
    .text-email{
        width: 250px;
        height: 30px;
        margin-bottom: 10px;
        border-radius: 15px;
        margin-left: 19px;
    }
    .text-p{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #000;
    }
    .text-h1{
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        color: #000;
    
    }
    .btn{
        width: 52%;
        margin-left: 25%;
        height: 40px;
        margin-top: 10px;
        border-radius: 15px;
        background-color: #000;
        color: white;
        font-weight: bold;
        
    }
}

/* body{
   background-image: url(https://images.alphacoders.com/605/thumbbig-605592.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #cccccc;

} */

.a-register{
    position: relative;
    top: -10px;
    left: 288px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    }
    .a-forgot-password{
        position: relative;
        top: -10px;
        left: -30px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
    .p-register{
        position: relative;
        top: 0px;
        left: 240px;
    
    }
    .label-remember{
        position: relative;
        top: -5px;
        left: 15px;
        color: #000;
        font-weight: bold;
    }
    .checkbox{
        position: relative;
        top: 0px;
        left: 15px;
        height: 18px;
        width: 18px;
    
    }
    @media screen and (max-width: 600px) 
    {
        .a-register{
            position: relative;
            top: -10px;
            left: 200px;
            text-decoration: none;
            color: #000;
            font-weight: bold;
            font-size: 12px;
        }
        .a-forgot-password{
            position: relative;
            top: -10px;
            left: -30px;
            text-decoration: none;
            color: #000;
            font-weight: bold;
            font-size: 12px;
        }
        .p-register{
            position: relative;
            top: 0px;
            left: 160px;
            font-size: 12px;
        }
        .label-remember{
            position: relative;
            top: -5px;
            left: 5px;
            
        }
        .checkbox{
            position: relative;
            top: 0px;
            left: 5px;
            height: 20px;
            width: 20px;
        
        }
    }
    .a-login{
        position: relative;
        left: 285px;
        top: -10px;
        transform: translateX(-50%);
        text-decoration: none;
        color: #000;
        font-weight: bold;;
    }
    .p-login{
        position: relative;
        left: 460px;
        transform: translateX(-50%);
        text-decoration: none;
        /* color: #000;
        font-weight: bold;
        font-size: 20px; */
    }
    @media screen and (max-width: 600px)
    {
        .a-login{
            position: relative;
            left: 200px;
            top: -10px;
            transform: translateX(-50%);
            text-decoration: none;
            color: #000;
            font-weight: bold;
           
        }
        .p-login{
            position: relative;
            left: 310px;
            transform: translateX(-50%);
            font-size: 12px;
        }
    }
.close-form{
    margin-left: 365px;
    margin-top: 4px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}
#forgot-form{
    height: 340px;
}







